NATS_URL=nats://127.0.0.1:4222
JWT_SECRET=your-secret-key
COOKIE_SECRET=cookie-secret
DATABASE_URL=postgres://prisma.[PROJECT_NAME]@[HOST].pooler.supabase.com:5432/postgres
NODE_ENV=development
PORT=3000
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=change-me-redis-password
REDIS_URL=redis://:change-me-redis-password@127.0.0.1:6379
