NODE_ENV=development
PORT=3000
NATS_URL=nats://127.0.0.1:4222
JWT_SECRET=your-secret-key
COOKIE_SECRET=cookie-secret
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-postgres-password
POSTGRES_DB=nestjs_boilerplate
DATABASE_URL=postgresql://postgres:change-me-postgres-password@127.0.0.1:5432/nestjs_boilerplate
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=change-me-redis-password
REDIS_URL=redis://:change-me-redis-password@127.0.0.1:6379
