NATS_URL=nats://127.0.0.1:4222
JWT_SECRET=your-secret-key
COOKIE_SECRET=cookie-secret
DATABASE_URL=postgres://prisma.[PROJECT_NAME]@[HOST].pooler.supabase.com:5432/postgres
NODE_ENV=development
PORT=3000
